$bg: #bcb09e;
$bg_square: #3e3834;
$icon: #5e5351;

/* // // Kolory::
// .color1 {color: #242121;}
// .color2 {color: #3e3834;}
// .color3 {color: #5e5351;}
// .color4 {color: #887d73;}
// .color5 {color: #bcb09e;} */